.signUpBackground {
    background-image: url("https://3718aeafc638f96f5bd6-d4a9ca15fc46ba40e71f94dec0aad28c.ssl.cf1.rackcdn.com/journal-immunology.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body,
html {
    height: 100%;
}

#marker {
    background-image: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png');
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-size: cover;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(43, 187, 173, 1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(43, 187, 173, 1);
    background-color: rgba(43, 187, 173, 1);
}