.signUpBackground {
    background-image: url("https://3718aeafc638f96f5bd6-d4a9ca15fc46ba40e71f94dec0aad28c.ssl.cf1.rackcdn.com/journal-immunology.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body,
html {
    height: 100%;
}

#marker {
    background-image: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png');
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-size: cover;
}

.mapboxgl-popup {
    max-width: 200px;
}